@import "./variables";

.Application {

	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	overflow-x: hidden;


	.content {
		height: 100%;
		width: 100%;

		.frame {
			display: flex;
			justify-content: center;
			align-items: center;
			height: calc(100% - #{$headerSize});
			width: 100%;
		}

	}


	.Drawer {
		height: 100%;
	}
}


